APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:B7DCXPlinFB2HxwnoGZshK0plMkruQ1EmA8z0QFjET4=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql 
DB_HOST=127.0.0.1
DB_PORT=3306
# DB_DATABASE=ssk_5
DB_DATABASE=spk_db
# DB_DATABASE=ssk_uat_server
DB_USERNAME=root    
DB_PASSWORD=pass

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

GOOGLE_API_KEY="AIzaSyBCCahGjQF9Ul8XOHhNEWg6NV7Wja3UnTU"
GOOGLE_AUTH_DOMAIN="shwepaukkan-73aab.firebaseapp.com"
GOOGLE_PROJECT_ID="shwepaukkan-73aab"
GOOGLE_STORAGE_BUCKET="shwepaukkan-73aab.appspot.com"
GOOGLE_MESSAGING_SENDER_ID="28265284223"
GOOGLE_APP_ID="1:28265284223:web:d7bdac409dd5144272754a"
GOOGLE_MEASUREMENT_ID="G-YRZQ7T75RZ"

VITE_GOOGLE_API_KEY="${GOOGLE_API_KEY}"
VITE_GOOGLE_AUTH_DOMAIN="${GOOGLE_AUTH_DOMAIN}"
VITE_GOOGLE_PROJECT_ID="${GOOGLE_PROJECT_ID}"
VITE_GOOGLE_STORAGE_BUCKET="${GOOGLE_STORAGE_BUCKET}"
VITE_GOOGLE_MESSAGING_SENDER_ID="${GOOGLE_MESSAGING_SENDER_ID}"
VITE_GOOGLE_APP_ID="${GOOGLE_APP_ID}"
VITE_GOOGLE_MEASUREMENT_ID="${GOOGLE_MEASUREMENT_ID}"

FCM_SERVER_KEY=shwesankan-f6f4d
FCM_SENDER_ID=483726217887

#social login #local
GOOGLE_CLIENT_ID=28265284223-qs731tps6nkglh7o3gps43s6et917j4i.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT=https://shwepaukkan.com/google/callback

# social login server
FACEBOOK_CLIENT_ID=1786770312151473
FACEBOOK_CLIENT_SECRET=dfe8788082e9cb9f23aabd9fca7d4129
FACEBOOK_REDIRECT_URI=https://shwepaukkan.com/facebook/callback   

# SEAMLESS_OPERATOR_CODE=E828
# SEAMLESS_PASSWORD=abcd1234
# SEAMLESS_SECRET_KEY=TANysn
# SEAMLESS_API_URL=https://prodmd.9977997.com

#gsc key
SEAMLESS_OPERATOR_CODE=C9I2
SEAMLESS_PASSWORD=Qwer1234
SEAMLESS_SECRET_KEY=rNgBZrzgdvX2fT2Sz6xdH5
SEAMLESS_API_URL=https://staging.gsimw.com

SMS_POH_API_SECRET=UVS3hxFV_Ih0I2sD
SMS_POH_API_KEY=7srNM0a0C93TkUXx
SMS_POH_API_END_POINT=https://v3.smspoh.com/api/rest/send